<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/checklistsSearch.css}">
    <title>ListIn | CheckLists</title>
</head>
<body class="main">
<header class="header">
    <nav>
        <div class="nav-wrapper">
            <h2>Checklist</h2>
        </div>
    </nav>
</header>
<main class="main">
    <div class="checklists-search-add">
        <form>
            <div class="input-field">
                <input id="searchChecklist" name="searchChecklist" type="search">
                <label for="searchChecklist">Search</label>
            </div>
        </form>
        <a class="btn-floating btn-medium waves-effect waves-light"><i class="material-icons">add</i></a>
    </div>

    <div class="checklists">
        <div class="row">
            <div class="checklist-list col s11">
                <a href="#">SKI</a>
            </div>
        </div>

        <div class="row">
            <div class="checklist-list col s11">
                <a href="#">Colombie</a>
            </div>
        </div>

    </div>
</main>
<div class="nav-bar-down">
    <div>
        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">settings</i></a>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">assignment_turned_in</i></a>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">storage</i></a>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">exit_to_app</i></a>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>