<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>ListIn</title>
    <link th:href="@{css/index.css}" rel="stylesheet">
</head>
<body class="index-body">
<main class="index">
    <div class="index-logo">
        <img th:src="@{/image/Logo.png}">
    </div>
    <div class="index-btns">
        <a th:href="@{/login}" class="waves-effect waves-light btn">LogIn</a>
        <a th:href="@{/register}" class="waves-effect waves-light btn">Register</a>
    </div>
</main>
<!-- Compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>