<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/items.css}">
    <title>ListIn | Login</title>
</head>
<body class="main">
<header class="header">
    <nav>
        <div class="nav-wrapper">
            <h2>ITEMS</h2>
        </div>
    </nav>
</header>
<main class="main">
    <div class="checklists-search-add">
        <form action="/searchItems" method="get">
            <input type="hidden" th:name="checklistId" th:value="${checklist}"/>
            <div class="input-field">
                <input id="searchChecklist" name="search" type="search">
                <label for="searchChecklist">Search</label>
            </div>
        </form>
        <a class="btn-floating btn-medium waves-effect waves-light" th:href="@{/newItem(checklist = ${checklist})}"><i class="material-icons">add</i></a>
    </div>
    <div>
        <form class="reset">
            <button>Reset</button>
        </form>
    </div>
    <div class="category"th:each="entry : ${itemsCategory}"
         th:with="category = ${entry.key}, items = ${entry.value}">
        <div class="row category-title">
            <h3 th:text="${category}">Electronics</h3>
        </div>
        <div class="items row" >
            <div th:each="item : ${items}">
                <a class="item btn modal-trigger" th:attr="href='#modal'+${item.id}">
                    <p th:text="${item.name}">Gopro</p>
                </a>
                <div class="modal" th:id="|modal${item.id}|">
                    <form class="modal-content" method="post" action="/addItems">
                        <h4>Quantity</h4>
                        <div id="modal-quantity">
                            <div class="input-field">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="hidden" th:name="checklistId" th:value="${checklist}"/>
                                <input type="hidden" th:name="itemId" th:value="${item.id}"/>
                                <input name="quantity" class="validate" type="number" th:id="'quantity'+${item.id}">
                                <label th:for="'quantity'+${item.id}">Quantity</label>
                            </div>
                            <button class="btn done">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="nav-bar-down">
    <div>
        <a class="btn-floating btn-large waves-effect waves-light" th:href="@{/profile}" ><i class="material-icons">settings</i></a>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light" th:href="@{/checklists}"><i
                class="material-icons">assignment_turned_in</i></a>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light" th:href="@{/logout}"><i class="material-icons">exit_to_app</i></a>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/items.js" type="text/javascript"></script>
</body>
</html>