<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <link rel="stylesheet" th:href="@{css/newitem.css}">
    <title>ListIn | Login</title>
</head>
<body class="main">
<header class="header">
    <nav>
        <div class="nav-wrapper">
            <a th:href="@{/checklists}"><i class="material-icons">keyboard_arrow_left</i></a>
            <h2>CREATE A CHECKLIST</h2>
        </div>
    </nav>
</header>
<main class="new-item-main main">
    <form class="new-item" method="post" action="/newChecklist" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input name="name" class="validate" type="text" id="name">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <button class="btn new-item-add col s4 offset-s4"><i class="material-icons left">add</i>Add</button>
        </div>
    </form>
</main>
<div class="nav-bar-down">
    <div>
        <a class="btn-floating btn-large waves-effect waves-light" th:href="@{/profile}" ><i class="material-icons">settings</i></a>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light" th:href="@{/checklists}"><i
                class="material-icons">assignment_turned_in</i></a>
    </div>
    <div>
        <a class="btn-floating btn-large waves-effect waves-light" th:href="@{/logout}"><i class="material-icons">exit_to_app</i></a>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
</body>
</html>